/* Galaxy Fold */
@media screen and (width: 280px) {
  .dropdown{
    text-align: end;
    margin-right: -2.54rem !important;
  }

  .movie-player .col-lg-10 .card{
    width: 95%;
    height: 0%;
    margin-left: -17.1rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 30%;
    margin-top: -19%;
  }

  .modal-player-container{
    width: 95%;
  }

  .hr-detail-movie{
    width: 100%;
    margin-top: 8rem !important;
  }

  .movie-description{
    padding-left: 1rem;
    font-size: small;
    padding: 0 25px;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 200px;
    margin-left: -1.5rem !important;
  }

  .star-widget label{
    zoom: 41%;
  }

  .col-lg-2{
    width:70%;
    padding-left: 18%;
  }

  .col-lg-6{
    width:70%;
  }

  .comment-container{
    margin-top: 15px;
    zoom: 55%;
    margin-left: -5.2rem;
  }
}


@media screen and (min-width: 360px) {
  .dropdown{
    text-align: end;
    margin-right: 0.5rem !important;
  }

  .movie-player .col-lg-10 .card{
    width: 90%;
    height: 0%;
    margin-left: -16.3rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 38%;
    margin-top: -10rem !important;
  }

  .col-lg-2{
    width:55%;
    padding-left: 2%;
  }

  .modal-player-container{
    width: 95%;
  }

  .hr-detail-movie{
    width: 100%;
    margin-top: 11rem !important;
  }

  .movie-description{
    padding-left: 1rem;
    font-size: small;
    padding: 0 28px;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 290px;
    margin-left: -1.5rem !important;
  }

  .star-widget label{
    zoom: 66.5%;
  }

  .col-lg-6{
    width:70%;
  }

  .comment-container{
    margin-top: 18px;
    zoom: 70%;
    margin-left: -2.5rem;
  }
}


@media screen and (min-width: 410px) {
  .dropdown{
    text-align: end;
    margin-right: 1.5rem !important;
  }

  .col-lg-2{
    width:55%;
    padding-left: 3.5%;
  }

  .movie-player .col-lg-10 .card{
    width: 90%;
    height: 0%;
    margin-left: -16.1rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 38%;
    margin-top: -10rem !important;
  }

  .hr-detail-movie{
    width: 100%;
    margin-top: 12rem !important;
  }

  .movie-description{
    padding-left: 1rem;
    font-size: small;
    padding: 0 30px;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 310px;
    margin-left: -1rem !important;
  }

  .star-widget label{
    zoom: 66.5%;
  }

  .col-lg-6{
    width:70%;
  }

  .comment-container{
    margin-top: 18px;
    zoom: 80%;
    margin-left: -2.5rem;
  }
}

@media screen and (min-width: 720px) {
  .dropdown{
    font-size: medium;
    text-align: end;
    margin-right: -5rem !important;
  }
  
  .movie-player .col-lg-10 .card{
    width: 90%;
    height: 0%;
    margin-left: -14.8rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 80%;
    margin-top: 5%;
  }

  .col-lg-2{
    width: 25%;
    padding-left: 1%;
  }

  .hr-detail-movie{
    width: 100%;
    margin-top: 28rem !important;
  }

  .movie-description{
    padding-left: 1rem;
    font-size: small;
    padding: 0 20px;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 240px;
    margin-left: -2rem !important;
  }

  .star-widget label{
    zoom: 50%;
  }

  .col-lg-6{
    width:50%;
  }

  .comment-container{
    margin-top: -5.5px;
    zoom: 95%;
    margin-left: -5rem;
  }
}

@media screen and (width: 540px) {
  .dropdown{
    text-align: end;
    margin-right: -5rem !important;
  }

  .col-lg-2{
    width: 25.5%;
    padding-left: 1%;
  }

  .movie-player .col-lg-10 .card{
    width: 90%;
    height: 0%;
    margin-left: -15.8rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 50%;
    margin-top: -8rem !important;
  }

  .hr-detail-movie{
    width: 95%;
    margin-left: 0.5rem;
    margin-top: 16rem !important;
  }

  .movie-description{
    padding-left: 1rem;
    font-size: small;
    padding: 0 30px;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 290px;
    margin-left: 3.3rem !important;
  }

  .star-widget label{
    zoom: 67%;
  }

  .col-lg-6{
    width:100%;
  }

  .comment-container{
    margin-top: 15px;
    zoom: 100%;
    margin-left: -1rem;
  }
}

@media screen and (min-width: 950px) {
  .movie-player .col-lg-10 .card{
    width: 70%;
    height: 0%;
    margin-left: -8.3rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 75%;
    margin-top: -8.5rem !important;
  }

  .col-lg-2{
    width: 15%;
  }

  .hr-detail-movie{
    width: 95%;
    margin-left: 0.5rem;
    margin-top: 24.5rem !important;
  }

  .movie-description{
    padding-left: 5rem;
    font-size: small;
    padding: 0 130px;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 350px;
    margin-left: 10rem !important;
  }

  .star-widget label{
    zoom: 85%;
  }

  .col-lg-6{
    width:50%;
  }

  .comment-container{
    zoom: 100%;
    margin-left: -1rem;
  }
}

@media  screen and (min-width: 1120px) {
  .movie-player .col-lg-10 .card{
    width: 70%;
    height: 0%;
    margin-left: -6.5rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 80%;
    margin-top: -2%;
  }

  .hr-detail-movie{
    width: 100%;
    margin-top: 27rem !important;
  }

  .movie-description{
    padding-left: 7rem;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 350px;
    margin-left: 3rem !important;
  }

  .star-widget label{
    zoom: 85%;
  }

  .col-lg-6{
    width:50%;
  }

  .comment-container{
    zoom: 90%;
    margin-left: -1rem;
  }
}

@media  screen and (min-width: 1208px){
  .movie-player .col-lg-10 .card{
    width: 70%;
    height: 0%;
    margin-left: -7rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 80%;
    margin-top: -2%;
  }

  .hr-detail-movie{
    width: 95%;
    margin-top: 29rem !important;
  }

  .movie-description{
    padding-left: 9rem;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 350px;
    margin-left: 5rem !important;
  }

  .star-widget label{
    zoom: 85%;
  }

  .col-lg-6{
    width:50%;
  }

  .comment-container{
    zoom: 90%;
    margin-left: -1rem;
  }
}

@media  screen and (min-width: 1380px){
  .movie-player .col-lg-10 .card{
    width: 70%;
    height: 0%;
    margin-left: -6rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 80%;
    margin-top: -2%;
  }

  .hr-detail-movie{
    margin-left: -2rem;
    width: 100%;
    margin-top: 34rem !important;
  }

  .movie-description{
    padding-left: 4rem;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 350px;
    margin-left: 5rem !important;
  }

  .star-widget label{
    zoom: 85%;
  }

  .col-lg-6{
    width:50%;
  }

  .comment-container{
    zoom: 90%;
    margin-left: -1rem;
  }
}

@media  screen and (min-width: 1470px){
  .movie-player .col-lg-10 .card{
    width: 70%;
    height: 0%;
    margin-left: -3.8rem !important;
  }

  .movie-player .col-lg-10 .card .card-img-overlay{
    max-width: 50%;
    zoom: 98%;
    margin-top: -2%;
  }

  .hr-detail-movie{
    margin-left: -0.5rem;
    width: 100%;
    margin-top: 37rem !important;
  }

  .movie-description{
    padding-left: 7.5rem;
  }

  .movie-description p{
    margin-top: -1rem;
  }

  .container-widget{
    width: 100%;
    width: 350px;
    margin-left: 10rem !important;
  }

  .star-widget label{
    zoom: 85%;
  }

  .col-lg-6{
    width:50%;
  }

  .comment-container{
    zoom: 100%;
    margin-left: -2.5rem;
  }
}