@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;500;600;700;900&family=Open+Sans:wght@300;400&family=Poltawski+Nowy:ital,wght@0,700;1,400&family=Poppins&display=swap');
:root
{
    /* /color/ */
    --backgroundColor: #141414;
    --primaryColor: #f05945;
    --navColor: #0C0C0C;
    /* /font/ */
    --mainFont: 'Open Sans', sans-serif;
    --headingFont: 'Merriweather', serif;
    --spanFont: 'Poltawski Nowy', serif;
    --useFont: 'Montserrat', sans-serif;

    --box-shadow1:0 .5rem 1.5rem rgba(240,128,128,.2);
}
body
{
    font-family: var(--mainFont);
    overflow-x: hidden;
    position: relative;
    background: url('../img/bg1.jpg') repeat;
    box-shadow: inset 0 0 5px 2px #282a2d;
}

h2
{
    font-family: var(--useFont);
    font-weight: 600;
}
form
{
    font-family: var(--useFont);
    background-color: white;
}
form p
{
   text-align: center;
   font-size: 12px;
   margin-top: 15px;
}
form a
{
   text-decoration: none;
   color: var(--primaryColor);
   transition: all 0.3s ease 0s;
}
form a:hover
{
   color: var(--primaryColor);
   font-weight: 500;
}

span
{
    font-size: 14px;
}
.btn-sign-up,
.btn-sign-in
{
  font-family: var(--useFont);
  font-weight: 600;
  color: var(--primaryColor);
  line-height: 25px;
  border: 2px solid var(--primaryColor);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btn-sign-up:hover,
.btn-sign-in:hover
{
    font-weight: normal;
    color: white;
    background: var(--primaryColor);
    border: 2px solid var(--primaryColor);
}