@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;500;600;700;900&family=Open+Sans:wght@300;400&family=Poltawski+Nowy:ital,wght@0,700;1,400&family=Poppins&display=swap');
:root
{
    /*color*/
    --backgroundColor: #141414;
    --primaryColor: #f05945;
    --navColor: #0C0C0C;
    /*font*/
    --mainFont: 'Open Sans', sans-serif;
    --headingFont: 'Merriweather', serif;
    --spanFont: 'Poltawski Nowy', serif;
    --useFont: 'Montserrat', sans-serif;
}
body
{
    font-family: var(--mainFont);
    background-color: var(--backgroundColor) !important;
    overflow-x: hidden;
    position: relative;
}
.heading 
{
    font-family: var(--headingFont);
    font-size: 32px;
    font-weight: 700;
}
.subheading
{
    font-weight: 300;
}
.kworld-navbar
{
    position: fixed;
    width: 100vw;
    z-index: 100;
    transition: background 0.2s linear;
}
.navbar-brand
{
    font-family: var(--headingFont);
    font-size: 22px;
    color: var(--primaryColor);
    transition: transform 0.2s;
}
.navbar-brand:hover
{
    font-family: var(--headingFont);
    transform: scale(1);
    color: var(--primaryColor);
}
.kworld-padding-left
{
    padding-left: 50px;
}
.kworld-padding-right
{
    padding-right: 55px;
}
.navbar-nav .nav-item a
{
    
    font-size: 15px;
    color: white;
}
.navbar-nav .nav-item a:hover
{
    color: var(--primaryColor);
}
.navbar-nav .nav-item .active
{
    font-weight: 600;
    color: var(--primaryColor) !important;
}
.kworld-nav-item .navbar-nav .nav-item a
{
   padding-right: 22px;
   padding-left: 22px;
   margin-top: 2px;
}
.kworld-dropdown-box
{
    display: none;
}
.kworld-dropdown-box .dropdown-menu
{
    background-color: rgba(0,0,0,1);
    color: white !important;
    margin-top: 8px;
    margin-left: -20px;
    width: 100vw;
}
.btn-sign-in
{
  font-family: var(--useFont);
  font-weight: 600;
  color: var(--primaryColor);
  line-height: 20px;
  border: 2px solid var(--primaryColor);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.btn-sign-in:hover
{
    font-weight: normal;
    color: white;
    background: var(--primaryColor);
    border: 2px solid var(--primaryColor);
}
.search-dropdown
{
    background-color: transparent;
    border: none;
}
.search-bar .dropdown-menu
{
    padding: 0;
    border-radius: 10px;
    width: 250px;   
}
.dropdown-menu .form-control
{
    border-radius: 10px;
    height: 34px;
}


.kworld-dropdown-box .dropdown-menu .dropdown-item
{
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px; 
}
.kworld-dropdown-box .dropdown-menu .dropdown-item:hover
{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-left: 5px solid var(--primaryColor);
}
.kworld-dropdown-icon
{
    background-color: transparent;
    border: none;
    font-size: 28px;
    padding-left: 0px;
    padding-top: 0px;
    color: white;
    transition: transform .4s;
}
.kworld-dropdown-icon:hover
{
    background-color: transparent;
    transform: scale();
    color: white;
    transform: scale(1.08);
}
.right
{
    display: flex;
    align-items: center;
}
.right i
{
    font-size: 24px;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

.kworld-slide-home
{
    width: 100%;
    position: relative;
    z-index: 10;
}
.kworld-slide-home video
{
    width: 100%;
}
.kworld-slide-home .top
{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, transparent, #000000da);
}
.kworld-slide-home .bottom
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, transparent, var(--backgroundColor));
}

.carousel-caption
{
   text-align: left;
   left: 10px; 
   bottom: 160px;
   z-index: 2;
}
.carousel-caption .btn-slide
{
   margin-left: 45px;
}
.carousel-caption h5
{
   font-family: var(--headingFont);
   font-weight: 700;
   font-size: 46px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 25px;
   margin-left: 50px;
}
.carousel-caption p
{
   width: 50%;
   margin-left: 50px;
   line-height: 1.8;
   font-family: var(--useFont);
   font-size: 16px;

}
.carousel-caption .btn-play
{
   border: none;
   background: var(--primaryColor);
   display: inline-block;
   color: black;
   border-radius: 5px;
   font-family: var(--useFont);
   font-size: 18px;
   font-weight: 500;
   margin-top: 5px;  
}
.carousel-caption .btn-more
{
   color: black;
   border-radius: 5px;
   font-family: var(--useFont);
   font-size: 18px;
   font-weight: 500;
   margin-top: 5px;
   
}
.carousel-caption .btn-play:hover
{
    background: var(--primaryColor);
    box-shadow: 0 2px 5px 0 rgba(240, 89, 69, 0.16), 0 2px 10px 0 rgba(240, 89, 69, 0.12);
    color: black;
    transform: scale(1.07);
    transition: 0.2s;
    border-radius: 5px;
}
.carousel-caption .btn-more:hover
{
    box-shadow: 0 2px 5px 0 rgba(91, 84, 83, 0.16), 0 2px 10px 0 rgba(91, 84, 83, 0.12);
    color: black;
    transform: scale(1.07);
    transition: 0.2s;
    border-radius: 5px;
}
.carousel-caption i
{
    margin-right: 8px ;
}
.carousel-control-prev,
.carousel-control-next{
    align-items: flex-end;
}
.carousel-indicators
{
    bottom: -16px;
}
.carousel-inner:before
{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.15);
   z-index: 1;
}
.kworld-footer
{
    background: var(--navColor);
    font-size: 14px;
}
.footer-brand
{
    font-family: var(--headingFont);
    font-weight: bold;
    color: var(--primaryColor);
}
.footer-title
{
    font-weight: bold;
    color: var(--primaryColor);
}
.footer-link
{
    font-family: var(--useFont);
    color: white;
    text-decoration: none;
}
.footer-link:hover
{
    
    color: var(--primaryColor);
    transform: scale(1.07);
    transition: 0.2s;
}
.kworld-footer p
{
    font-family: var(--useFont);
    color: white;
}

.copy a
{
    font-family: var(--headingFont);
    color: var(--primaryColor);
    text-decoration: none;
}
.soc-icon a
{
    font-size: 20px;
    color: white;
}
.soc-icon a:hover
{
    font-size: 20px;
    color: var(--primaryColor);
    transform: scale(1.07);
    transition: 0.2s;
}

